.edit-profile {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding-top: 50px;
    margin: 0 auto;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: rgb(51,51,51);

    margin-top: 70px;
}

.edit-sidebar {
    display: flex;
    width: 25%;
    margin-top: 20px;
}

.edit-sidebar-profile {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    height: 26px;
}

.edit-sidebar-profile-pen .fas {
    font-size: 16px;
    color: #333333;
    padding: 2px;
    margin-top: 3px;
}

.edit-sidebar-profile-pen .fas:hover {
    background: white;
    cursor: default;
}

.edit-sidebar-profile-text {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 4px;
    margin-left: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.edit-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
}

.edit-head {
    display: flex;
    justify-content: space-between;
}

.edit-name {
    display: flex;
    justify-content: space-around;
}

.edit-head-text {
    width: 100%;
    max-width: 350px;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.edit-button {
    background-color: rgb(239, 239, 239);
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 700;
    min-height: 20px;
    border-radius: 8px;
    padding: 10px 14px;
    margin-left: 8px;
    cursor: pointer;
}

.inactive {
    cursor: default;
}

.active {
    cursor: pointer;
    background: #E60032;
    color: white;
}

.edit-button-cancel:hover {
    background: #ddd;
    color: #333333;
}

.edit-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 4px;
    -webkit-font-smoothing: antialiased;
}

.edit-subtext {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.edit-name-form {
    width: 50%;
    min-width: 116px;
}

.edit-name-text {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: -0.4px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 4px;
    margin-top: 28px;
}

.edit-name-box {
    height: 22px;
    width: 264px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    color: #333333;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 400;
}

.edit-about {
    margin-top: 20px;
}

.edit-about-name {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 4px;
}

.edit-about-box {
    resize: none;
    width: 100%;
    max-width: 564px;
    height: 72px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    color: #333333;
    letter-spacing: -0.4px;
    font-size: 16px;
    padding: 10px 14px;
    -webkit-font-smoothing: antialiased;
}

.edit-location {
    margin-top: 20px;
}

.edit-location-name {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 4px;
}

.edit-location-box {
    width: 100%;
    max-width: 564px;
    height: 22px;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 4px;
    letter-spacing: -0.4px;
    font-size: 16px;
    padding: 10px 14px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}