.edit-board-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 80%;
    color: rgb(33, 25, 34);
    font-family: -apple-system, system-ui, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    border-radius: 8px;

    cursor: default;
}

.edit-board-title {
    display: flex;
    justify-content: space-between;
}

.edit-board-title-text {
    font-size: 24px;
    font-weight: 700;
    padding: 18px 16px;
}

.edit-board-close {
    padding: 8px;
    margin: 0;
}

.edit-board-close i.fas:hover{
    background: white;
}

.edit-board-close .fas {
    font-size: 30px;

}

.edit-board-close .fas:hover{
    background: rgb(240, 240, 240);
}

.edit-board-name {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
    border-top: 0.1px rgb(228, 227, 227) solid;
    border-bottom: 0.1px rgb(228, 227, 227) solid
}

.edit-board-text {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    padding: 12px 4px;
}

.edit-board-name-box {
    width: 396px;
    height: 22px;
    padding: 8px 14px;
    border: 1px rgb(142,142,142) solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.edit-board-description {
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
    border-bottom: 0.1px rgb(228, 227, 227) solid
}

.edit-board-description-box {
    resize: none;
    width: 396px;
    height: 72px;
    padding: 10px 14px;
    border: 1px rgb(142,142,142) solid;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}


input::placeholder {
  color: rgb(187, 186, 186);
}

.edit-board-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.edit-board-buttons-right {
    display: flex;
}

.edit-board-button {
    background-color: rgb(239, 239, 239);
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 700;
    min-height: 20px;
    border-radius: 8px;
    padding: 10px 14px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.inactive {
    cursor: default;
}

.active {
    cursor: pointer;
    background: #E60032;
    color: white;
}

.active:hover {
    background: rgb(165, 1, 36);
}

.edit-board-cancel-button, .edit-board-delete-button {
    color: #333333;
}

.edit-board-cancel-button:hover, .edit-board-delete-button:hover {
    background: #ddd;
}