.navbar-main {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    height: 40px;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* .navbar-main img {
    height: 28px;
    width: 28px;
    cursor: pointer;
} */

.navbar-left {
    display: flex;
}

.navbar-right {
    display: flex;
    justify-content: space-around;
}

.navbar-right > div{
    cursor: pointer;
}

.fas {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 1px hidden;
    border-radius: 50%;
    padding: 9px;
    font-size: 20px;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* .arrow-up {
    position: absolute;
    top: -6px;
    right: 45px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .18);

} */

.arrow-up-border {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 28px;
    border-width: 0 11px 11px 11px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;  
}

.arrow-up {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 29px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #fff transparent;  
    z-index: 1;
}

.navbar-logo > .fas {
    height: 28px;
    width: 28px;
}

.navbar-user > .fas {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 20px;
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
}

.navbar-user > .fas:hover {
    background: rgb(240, 240, 240);
}

.navbar-user > .fas > .name {
    line-height: 24px;
}

/* .navbar-welcome {
    height: auto;
    display: inline-block;
    width: 400px;
    min-width: 100px;
    margin-left: 50px;
    padding: 10px 10px;
    font-size: 24px;
    color: grey;
    border-radius: 5px;
    background: rgb(241, 241, 241);
} */

.fas:hover {
    background-color: #ddd;

}

.dropdown-content {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    color:#efefef;
    background: #fff;
    width: 296px;
    min-height: 40px;
    border: 1px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
    border-radius: 8px;
    z-index: 1;
}

.dropdown-item {
    align-items: flex-start;
    padding: 10px 16px;
    height: 18px;
    width: 100%;
    color: #333;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.dropdown-content:hover {
    background-color: #ddd;
    cursor: pointer;
}

#navbar-option {
    line-height: 23px;
}


.my-circle {
    display:inline-block;
    font-size:12px;
    font-family: sans-serif;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border-radius:50%;
    background:rgb(233, 35, 154);
    vertical-align: middle;
    color:white;
    margin-right: 8px;
}

/* Show the dropdown menu on hover */
/* .navbar-option:hover .dropdown-content { 
    display: inline-block;
} */