.profile {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.profile-icon {
    display: flex;
    margin-bottom: 20px;
}

.profile-icon .fas {
    padding-bottom: 10px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin: 5px;
}



.profile-info {
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
}

.profile-username {
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 10px;
    font-weight: 700;
}

.profile-follow-info {
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 2px;
}

.profile-location {
    font-size: 14px;
    margin-top: 2px;
    font-family: sans-serif;
}


.profile-circle {
    display:inline-block;
    font-size: 57px;
    font-family: sans-serif;
    width: 106px;
    height: 106px;
    line-height: 106px;
    text-align:center;
    border-radius:50%;
    background:rgb(232, 28, 150);
    vertical-align: middle;
    color:white;
    margin-right: 8px;
}