    .profile {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.profile-icon {
    display: flex;
    margin-bottom: 20px;
}

.profile-icon .fas {
    padding-bottom: 10px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin: 5px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
}

.profile-username {
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 10px;
    font-weight: 700;
}

.profile-follow-info {
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 2px;
}

.profile-location {
    font-size: 14px;
    margin-top: 2px;
    font-family: sans-serif;
    font-weight: 400;
}


.profile-circle {
    display:inline-block;
    font-size: 57px;
    font-family: sans-serif;
    width: 106px;
    height: 106px;
    line-height: 106px;
    text-align:center;
    border-radius:50%;
    background:rgb(232, 28, 150);
    vertical-align: middle;
    color:white;
    margin-right: 8px;
}

/* for dropdown */

.profile-arrow-up-border {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 12px;
    border-width: 0 11px 11px 11px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;  
}

.profile-arrow-up {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 13px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #fff transparent; 
    z-index: 1; 
}

.profile-item {
    position: positive;
}

.profile-dropdown-content {
    position: absolute;
    margin-top: 6px;
    box-sizing: border-box;
    color:#efefef;
    background: #fff;
    width: 238px;
    min-height: 40px;
    border: 1px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
    border-radius: 8px;
    z-index: 1;
}

.profile-dropdown-item {
    align-items: flex-start;
    padding: 10px 16px;
    height: 18px;
    /* width: 100%; */
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.profile-dropdown-item:hover {
    background-color: #ddd;
    cursor: pointer;
}